<div>
    <img src="/assets/img/peliculas-marvel.webp">
    <section class="container">
        <h1>Nuestra tienda</h1>
        <p>¡Bienvenido a la guarida definitiva para los héroes y villanos de tus sueños! En nuestra tienda de
            videojuegos,
            desbloquearás un universo repleto de poderes extraordinarios y aventuras alucinantes inspiradas en el
            mundo
            de
            Marvel, DC y más. </p>
        <p>Desde las legendarias batallas de superhéroes hasta los intrépidos viajes por mundos alternativos,
            encontrarás la
            clave para desencadenar tu propia historia épica. ¡Prepárate para jugar, luchar y convertirte en el
            héroe
            que
            siempre has querido ser!</p>
        <p>
            ¡Explora nuestros pasillos digitales donde los límites entre la realidad y la fantasía se desdibujan!
            Sumérgete en el frenesí de la jugabilidad innovadora y los gráficos deslumbrantes que te transportarán a
            universos únicos llenos de desafíos emocionantes y personajes icónicos.
        </p>
        <p>

            ¡La aventura te espera en cada esquina! Desde los conflictos cósmicos hasta las odiseas intergalácticas,
            nuestra tienda es tu portal hacia la grandeza, donde los jugadores se convierten en leyendas y las historias
            se forjan con cada clic del control. Sumérgete en este viaje épico y haz de cada partida una epopeya
            inolvidable.</p>
    </section>
</div>