<section class="container">
    <div class="login-item">
        <label for="nombre">Nombre</label>
        <input id="nombre" [(ngModel)]="userName" type="text">
        <p *ngIf="errorName">El nombre es incorrecto</p>
    </div>
    <div class="login-item">
        <label for="password">Contraseña</label>
        <input id="password" [(ngModel)]="password" type="password">
        <p *ngIf="errorInfo">La contraseña no es válida</p>
    </div>
    <button (click)="login()">Login</button>
    <p *ngIf="errorLogin">No se ha podido acceder</p>
</section>