<h1> CONTACTANOS </h1>

<div class="bienvenida">
  <h2>¡Conéctate con Nosotros!</h2>
  <p>
    ¡Bienvenido a nuestro espacio de contacto, donde la aventura continúa fuera del juego! Estamos
    emocionados de escucharte. Ya sea que tengas preguntas, comentarios, sugerencias o simplemente
    quieras compartir tus experiencias de juego, estamos aquí para ti.
  </p>
</div>

<div class="soporte">
  <h2>Soporte Técnico:</h2>
  <p>
    Si encuentras algún problema técnico o necesitas asistencia, nuestro equipo de soporte está listo
    para ayudarte. Por favor, llama a nuestro numero y un tecnico te ayudara con tu
    problema
  </p>
  <p> Telefono: 94 999 999</p>
  <p> Correo electronico : videojuegos&#64;gmail.com</p>
</div>
