<!-- src/app/detalle-videojuego/detalle-videojuego.component.html -->
<div *ngIf="videojuego">
  <h2>Detalles del Videojuego</h2>
  <table>
    <tr>
      <td class="titulo">ID:</td>
      <td>{{ videojuego.id }}</td>
    </tr>
    <tr>
      <td class="titulo">Título:</td>
      <td>{{ videojuego.titulo }}</td>
    </tr>
    <tr>
      <td class="titulo">Compañía:</td>
      <td>{{ videojuego.compania }}</td>
    </tr>
    <tr>
      <td class="titulo">Valoración Media:</td>
      <td>{{ videojuego.media }}</td>
    </tr>
  </table>
  <!-- Comentar la imagen
  <img [src]="videojuego.imagen" alt="{{ videojuego.titulo }}">
  -->
  <div class="imagen">
    <img [src]="'assets/img/' + videojuego.imagen" alt="{{ videojuego.titulo }}">
  </div>
</div>



